/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* ----------------------------- */

@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

body {
	font-weight: bolder;
	background: black;
}

.container {
	max-width: 58%;
	margin: auto;
	background:white;
}

.content {
	margin: 0 50px;
}

.alignColumn .banger {
	font-size: 80px;
	font-weight: normal;
}

.alignColumn {
	padding-top: 10%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
 
nav {
	display: flex;
	align-items: center;
	width: 80%;
}

nav a {
	color: rgba(247, 243, 241, 0.5);
	padding: 20px;
	font-size: 14px;
	text-decoration: none;
}

footer {
	text-align: center;
	padding-bottom: 100px;
}

#fa {
	display: flex;
	justify-content: space-evenly;
	align-content: space-evenly;
}

.cta {
	padding: 10px;
	border: 1px solid black;
	font-size: 15px;
	width: 200px;
	margin: auto;
}

.banger {
	bottom: 25px;
}

.phoneEmail {
	text-decoration: none;
	color: black;
}

.triple {
	display:flex;
	justify-content: space-evenly;
}

hr {
	margin: 40px 0px;
}

.split_column .banger {
	margin-top: -55px;
	display: inline-block;
}

#stickyNav {
	position: fixed;
	background-color: dodgerblue;
	z-index: 999;
	top: 0;
	display:flex;
	justify-content: center;
	width: 52%;
}

p {
	font-family: 'Mansalva', cursive;
}

.cta:hover {
	background-color: dodgerblue;
}

.split_column2 {
	width: 49%;
}

.middle-img {
	margin: 40px 0;
}

.center {
	margin-left: 40px;
}